<html>
<head>
    <title>Tamagotchi</title>
</head>
<body>
    <h1>Tamagotchi</h1>

    <form action="/game" method="post">
      <label for="name">What's your pet's name?</label>
      <input type"text" name="name">

      <button type="submit">Play!</button>
    </form>
</body>
</html>
